Flask==1.0.3
google-api-core==1.19.1
google-api-python-client==1.9.1
google-auth==1.16.1
google-auth-httplib2==0.0.3
googleapis-common-protos==1.52.0
heroku==0.1.4
jsonschema==2.6.0
numpy==1.16.4
nltk==3.4.3
pandas==1.0.4
python-dateutil==2.8.0
requests==2.21.0
zipp==2.1.0
